<li class="popup__group" data-filter-target="item" data-navigable-list-target="item" id="filter-place-settings">
  <%= icon_tag "settings" %>
  <%= link_to account_settings_path, class: "popup__item btn" do %>
    <span class="overflow-ellipsis">Account Settings</span>
    <span class="translucent flex-item-no-shrink flex-item-justify-end"> ›</span>
  <% end %>
</li>

<li class="popup__group" data-filter-target="item" data-navigable-list-target="item" id="filter-place-profile">
  <%= icon_tag "person" %>
  <%= link_to user_path(Current.user), class: "popup__item btn" do %>
    <span class="overflow-ellipsis">My Profile</span>
    <span class="translucent flex-item-no-shrink flex-item-justify-end"> ›</span>
  <% end %>
</li>

<li class="popup__group" data-filter-target="item" data-navigable-list-target="item" id="filter-place-notifications">
  <%= icon_tag "bell" %>
  <%= link_to notifications_path, class: "popup__item btn" do %>
    <span class="overflow-ellipsis">Notifications</span>
    <span class="translucent flex-item-no-shrink flex-item-justify-end"> ›</span>
  <% end %>
</li>

<li class="popup__group" data-filter-target="item" data-navigable-list-target="item" id="filter-place-notification-settings">
  <%= icon_tag "settings" %>
  <%= link_to settings_notifications_path, class: "popup__item btn" do %>
    <span class="overflow-ellipsis">Notification Settings</span>
    <span class="translucent flex-item-no-shrink flex-item-justify-end"> ›</span>
  <% end %>
</li>

<li class="popup__group" data-filter-target="item" data-navigable-list-target="item" id="filter-place-search">
  <%= icon_tag "search" %>
  <%= link_to search_path, class: "popup__item btn" do %>
    <span class="overflow-ellipsis">Search</span>
    <span class="translucent flex-item-no-shrink flex-item-justify-end"> ›</span>
  <% end %>
</li>

<li class="popup__group" data-filter-target="item" data-navigable-list-target="item" id="filter-place-workflows">
  <%= icon_tag "bolt" %>
  <%= link_to workflows_path, class: "popup__item btn" do %>
    <span class="overflow-ellipsis">Workflows</span>
    <span class="translucent flex-item-no-shrink flex-item-justify-end"> ›</span>
  <% end %>
</li>
