<% @page_title = @collection.name %>

<% content_for :header do %>
  <div class="flex-column margin-block unpad gap-none">
    <h1 class="txt-large overflow-ellipsis margin-none">
      <span><%= @page_title %></span>
    </h1>

    <% if @collection.public_description.present? %>
      <div class="card__collection-public-description txt-align-center">
        <%= @collection.public_description %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="card-columns">
  <%= render "public/collections/show/considering", collection: @collection, page: @considering %>
  <%= render "public/collections/show/doing", collection: @collection, page: @doing %>
</div>

<%= render "public/collections/show/closed", collection: @collection, page: @closed %>

<% content_for :footer do %>
  <div class="justify-center center margin-block-double flex align-end gap-half">
    <%= image_tag "logo-color.svg", aria: { hidden: true }, size: 30 %>
    <strong><a href="http://37signals.com" class="txt-ink">Made with Fizzy&trade;</a></strong>
  </div>
<% end %>
