<% filter = user_filtering.filter %>

<% if user_filtering.show_sorted_by? %>
  <div class="quick-filter position-relative <%= "default-value" if filter.sorted_by.latest? %>" data-controller="dialog" data-action="keydown.esc->dialog#close click@document->dialog#closeOnClickOutside">
    <button class="btn input input--select flex-inline txt-x-small" data-action="click->dialog#open:stop">
      <span class="overflow-ellipsis">
        <%= sorted_by_label(filter.sorted_by) %>
      </span>
    </button>

    <%= filter_dialog "Sort by…" do %>
      <strong class="popup__title txt-nowrap">Sort by…</strong>

      <ul class="popup__list" data-filter-target="list">
        <% Filter::SORTED_BY.each do |sort| %>
          <li class="popup__group" data-navigable-list-target="item">
            <%= form_with url: cards_path, method: :get, class: "full-width", data: { controller: "form" } do |form| %>
              <% filter.as_params.except(:sorted_by).each do |key, value| %>
                <%= filter_hidden_field_tag key, value %>
              <% end %>

              <%= hidden_field_tag :sorted_by, sort %>

              <% if user_filtering.expanded? %>
                <%= hidden_field_tag :expand_all, user_filtering.expanded? %>
              <% end %>

              <%= form.button type: "submit", class: "popup__item btn" do %>
                <span class="overflow-ellipsis flex-item-grow"><%= sorted_by_label(sort) %></span>
                <% if filter.sorted_by == sort %>
                  <%= icon_tag "check", class: "checked flex-item-justify-end" %>
                <% end %>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>