<dialog class="filter__popup dialog panel fill-white shadow" data-dialog-target="dialog">
  <div class="flex flex-column gap-half">
    <div class="flex align-center gap-half justify-space-between">
      <span class="btn btn--placeholder txt-small" aria-hidden="true"></span>

      <h2 class="txt-large flex align-center gap-half margin-none">
        <%= image_tag "filter.svg", aria: { hidden: true }, size: 30 %>
        <span>Filter</span>
      </h2>

      <form method="dialog">
        <button class="btn panel__close txt-small" title="Close (esc)">
          <%= image_tag "remove.svg", aria: { hidden: true }, size: 24 %>
          <span class="for-screen-reader">Close</span>
        </button>
      </form>
    </div>

    <div class="pad fill-shade border-radius margin-block-end">
      <%= form_tag bubbles_path, class: "flex align-center gap input input--actor txt-small fill-white border-radius", method: :get do %>
        <% @filter.as_params.each do |key, value| %>
          <%= filter_hidden_field_tag key, value %>
        <% end %>

        <%= search_field_tag "terms[]", nil, class: "input full-width", placeholder: "By keyword…", id: nil %>

        <button class="btn">
          <span  class="for-screen-reader">Apply</span>
          <%= image_tag "arrow-right.svg", aria: { hidden: true }, size: 24 %>
        </button>
      <% end %>
    </div>

    <%= form_with url: bubbles_path, id: :filter_form, method: :get, class: "flex flex-column gap full-width", style: "--border-color: var(--color-subtle)" do %>
      <% Array(params[:terms]).each do |term| %>
        <%= hidden_field_tag "terms[]", term, id: nil %>
      <% end %>

      <div class="filter__columns flex gap">
        <menu class="filter__menu">
          <li class="filter__label"><strong>Sort by</strong></li>
          <li>
            <%= label_tag "indexed_by_#{filter.default_indexed_by}", class: "btn filter__button" do %>
              <%= radio_button_tag "indexed_by", filter.default_indexed_by, filter.default_indexed_by?, hidden: true %>
              <span>Most active</span>
              <%= image_tag "close.svg", aria: { hidden: true }, size: 24 %>
            <% end %>
          </li>

          <% Filter::INDEXES.each do |index| %>
            <li>
              <%= label_tag "indexed_by_#{index}", class: "btn filter__button" do %>
                <%= radio_button_tag "indexed_by", index, filter.indexed_by == index, hidden: true %>
                <span><%= index.humanize %></span>
                <%= image_tag "close.svg", aria: { hidden: true }, size: 24 %>
              <% end %>
            </li>
          <% end %>
        </menu>

        <menu class="filter__menu">
          <li class="filter__label"><strong>In Project</strong></li>

          <li>
            <%= button_tag type: :button, class: "btn filter__button", data: { action: "filter-form#clearCategory", filter_form_name_param: "bucket_ids[]" } do %>
              <span>All Collections</span>
            <% end %>
          </li>
          <% Current.user.buckets.order(:name).each do |bucket| %>
            <li>
              <%= label_tag "bucket_ids_#{bucket.id}", class: "btn filter__button" do %>
                <%= check_box_tag "bucket_ids[]", bucket.id, filter.buckets.include?(bucket), id: "bucket_ids_#{bucket.id}", hidden: true %>
                <span><%= bucket.name %></span>
                <%= image_tag "close.svg", aria: { hidden: true }, size: 24 %>
              <% end %>
            </li>
          <% end %>
        </menu>

        <menu class="filter__menu">
          <li class="filter__label"><strong>Tagged</strong></li>
          <% Current.account.tags.order(:title).each do |tag| %>
            <li>
              <%= label_tag "tag_ids_#{tag.id}", class: "btn filter__button" do %>
                <%= check_box_tag "tag_ids[]", tag.id, filter.tags.include?(tag), id: "tag_ids_#{tag.id}", hidden: true %>
                <span><%= tag.hashtag %></span>
                <%= image_tag "close.svg", aria: { hidden: true }, size: 24 %>
              <% end %>
            </li>
          <% end %>
        </menu>

        <menu class="filter__menu">
          <li class="filter__label"><strong>Assigned to…</strong></li>
          <li>
            <%= label_tag "assignment_status_unassigned", class: "btn filter__button" do %>
              <%= check_box_tag "assignment_status", "unassigned", filter.assignment_status.unassigned?, id: "assignment_status_unassigned",
                hidden: true, data: { action: "filter-form#clearCategory", filter_form_name_param: "assignee_ids[],assigner_ids[]" } %>
                <span>No one</span>
                <%= image_tag "close.svg", aria: { hidden: true }, size: 24 %>
              <% end %>
          </li>
          <li>
            <%= label_tag "assignee_ids_me", class: "btn filter__button" do %>
              <%= check_box_tag "assignee_ids[]", Current.user.id, filter.assignees.include?(Current.user), id: "assignee_ids_me",
                hidden: true, data: { action: "filter-form#clearCategory", filter_form_name_param: "assignment_status" } %>
                <span>Me</span>
                <%= image_tag "close.svg", aria: { hidden: true }, size: 24 %>
              <% end %>
          </li>
          <% Current.account.users.active.without(Current.user).order(:name).each do |user| %>
            <li>
              <%= label_tag "assignee_ids_#{user.id}", user.name, class: "btn filter__button" do %>
                <%= check_box_tag "assignee_ids[]", user.id, filter.assignees.include?(user), id: "assignee_ids_#{user.id}",
                  hidden: true, data: { action: "filter-form#clearCategory", filter_form_name_param: "assignment_status" } %>
                  <span><%= user.name %></span>
                  <%= image_tag "close.svg", aria: { hidden: true }, size: 24 %>
                <% end %>
            </li>
          <% end %>
        </menu>

        <menu class="filter__menu">
          <li class="filter__label"><strong>Assigned by…</strong></li>
          <li>
            <%= label_tag "assigner_ids_me", class: "btn filter__button" do %>
              <%= check_box_tag "assigner_ids[]", Current.user.id, filter.assigners.include?(Current.user), id: "assigner_ids_me",
                hidden: true, data: { action: "filter-form#clearCategory", filter_form_name_param: "assignment_status" } %>
                <span>Me</span>
                <%= image_tag "close.svg", aria: { hidden: true }, size: 24 %>
              <% end %>
          </li>
          <% Current.account.users.active.without(Current.user).order(:name).each do |user| %>
            <li>
              <%= label_tag "assigner_ids_#{user.id}", class: "btn filter__button" do %>
                <%= check_box_tag "assigner_ids[]", user.id, filter.assigners.include?(user), id: "assigner_ids_#{user.id}",
                  hidden: true, data: { action: "filter-form#clearCategory", filter_form_name_param: "assignment_status" } %>
                  <span><%= user.name %></span>
                  <%= image_tag "close.svg", aria: { hidden: true }, size: 24 %>
                <% end %>
            </li>
          <% end %>
        </menu>

        <menu class="filter__menu">
          <li class="filter__label"><strong>In Stage</strong></li>
          <% Current.account.workflows.order(:name).each do |workflow| %>
            <li class="filter__label"><strong><%= workflow.name %></strong></li>

            <% workflow.stages.order(:name).each do |stage| %>
              <li>
                <%= label_tag "stage_ids_#{stage.id}", class: "btn filter__button" do %>
                  <%= check_box_tag "stage_ids[]", stage.id, filter.stages.include?(stage), id: "stage_ids_#{stage.id}", hidden: true %>
                  <span><%= stage.name %></span>
                  <%= image_tag "close.svg", aria: { hidden: true }, size: 24 %>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </menu>
      </div>
    <% end %>

    <div class="flex align-center txt-align-center justify-space-between gap-half margin-block-start">
      <%= tag.button class: "btn", form: :filter_form, formaction: filters_path, formmethod: :post do %>
        <%= image_tag "bubbles.svg", aria: { hidden: true }, size: 24 %>
        <span>Save collection</span>
      <% end %>

      <button class="btn btn--reversed" form="filter_form">
        <span>Apply</span>
        <%= image_tag "arrow-right.svg", aria: { hidden: true }, size: 24 %>
      </button>
    </div>
  </div>
</dialog>
